{% extends "homepage/base.html"%}
{% block Mcontent%}
<div class="container">
	
<style>

		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background-color: #419c57;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
			
		}

		.login_btn {
			width: 100%;
			background: #67c77f !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
</style>
  <!-- Login Form -->
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <h2 class="p-3">Login</h2>
          </div> 
		  <form method="POST" action="">
          <div class="card-body">
			{% if messages %}
			{% for message in messages  %}
				<span style="color: red;" id="loginError">{{message}}</span>
				<script>
					document.getElementById("loginError").style.display = "block"
					setTimeout(function(){
						document.getElementById("loginError").style.display = "none"
					}, 2000);
				</script>
			{% endfor %}
	  {% endif %}
              <div class="mb-3">
				{% csrf_token %}
                <label for="username" class="form-label">Username/Email</label>
				{{ form.usernameSignIn}}
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
				{{ form.passwordSignIn}}	
              </div>
   
	
		  <div class="mt-1">
			<div class="d-flex justify-content-center links">
				Don't have an account?&nbsp<a href="{% url 'register' %}" class="ml-2">Sign Up</a>
			</div>
			<div class="d-flex justify-content-center links">
				Forgot your password?&nbsp <a href="{% url 'password_reset' %}" class="ml-2">Password Reset</a>
			</div>

		</div>
              <div class="d-grid">
                <button type="submit" value="Login" style="background-color: #4c925d; margin-top: 10px;" class="btn text-light main-bg">Login</button>
              </div>
			  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

			


{%endblock%}